<!--cabecera-->
<app-cabecera></app-cabecera>
<app-titulo></app-titulo>

<h1>Total ({{ transacciones.length }}) transacciones</h1>

<div *ngFor="let transaccion of transacciones">
    <ul [ngClass]="{ 'negative': transaccion.kind=='spent', 'positive': transaccion.kind=='income' }">
      💥 <li>Nombre: {{ transaccion.name }} </li>
         <li>Descripcion: {{ transaccion.description }}</li>
         <li>Cantidad: {{ transaccion.amount | currency }}</li>
         <li>Kind: {{ transaccion.kind }}</li>
         <li>Fecha: {{ transaccion.date | date: 'dd/MM/yyyy' }}</li>
    </ul>
</div>

<div [ngClass]="{ 'negative': result <= 0, 'positive': result > 0 }">Balance total {{ result | currency }}</div>

<router-outlet></router-outlet>
<app-pie></app-pie>
<!--pie-->